.main-pane {
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px;
  border-radius: 5px;
}

.red {
  background-color: red;
  color: white;
}

.left-pane {
  display: flex;
  flex: 0.8;
}

.right-pane {
  background-color: wheat;
  flex: 0.2;
}

.vidGrid {
  flex: 0.9;
  background-color: rgb(72, 64, 82);
}

.prev-chats {
  flex: 0.8;
  background-color: violet;
}

.chat-input {
  flex: 0.2;
  background-color: turquoise;
}

.chat-pane {
  flex-grow: 1;
}